<!DOCTYPE html>
<html>
  <head>
    <title>Contacts</title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
  </head>
    <body>
        <div id="root">
            <%- include('navbar', {contacts: contacts}) %>
            <div id="detail">
                <form method="post" id="contact-form" action=<%- `/${contact.id}/save` %>>
                    <p>
                        <span>Name</span>
                        <input placeholder="First"
                            aria-label="First name"
                            type="text"
                            name="first"
                            value= <%= contact?.first %>
                        >
                        <input placeholder="Last"
                            aria-label="Last name"
                            type="text"
                            name="last"
                            Value= <%= contact?.last %>
                        >
                    </p>
                    <label>
                        <span>Twitter</span>
                        <input
                          type="text"
                          name="twitter"
                          placeholder="@jack"
                          Value= <%= contact?.twitter %>
                        >
                    </label>
                    <label>
                        <span>Notes</span>
                        <textarea
                          name="notes"
                          rows="6"
                        > <%= contact?.notes %></textarea>
                    </label>
                    <p>
                        <button type="submit">Save</button>
                        <a href= <%-`/${contact.id}` %> >Cancel</a>
                    </p>
                </form>
            </div>
        </div>
    </body>
</html>
